h1, h3 {
    text-align: center;
    color: black;
}

#headshot {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: #fff1e6

}

#reviewform {
    text-align: center;
    

}

#navs  {
    text-align: center;
    
}

button {
    background-color: #e5989b;
    
}

label {
    color: black;

}

#minilogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button:hover {
    background-color: red;
    color: white;


}